streamlit
torch
transformers
pymongo
python-dotenv
pandas
numpy
scikit-learn
scipy
protobuf
accelerate
pdf2image
python-docx
PyPDF2
plotly
bcrypt
jwt
requests
streamlit-option-menu
datasets
sentencepiece
huggingface_hub